<!DOCTYPE html>  
<html lang="en"> 
  <div class="article">

    <h3>Ajouter Nouveau Article</h3>
    <form action="" method="POST">
        {% csrf_token %}
        <div class='form'>
            <label for="">Url de l'image</label>
            <input type="text" name="image" class="form-control">
        </div>    
        <div class='form'>
            <label for="">Nom</label>
            <input type="text" name="article_name" class="form-control">
        </div>
        <div class='form'>
            <label for="">stock</label>
            <input type="int" name="stock" class="form-control">
        </div>
        <div class='form'>
            <label for="">prix</label>
            <input type="int" name="price" class="form-control">
        </div>
        <div class='form'>
            <button type="submit">Ajouter</button>
            <a href="{% url 'app_projet:index' %}">Retourner aux articles</a>
        </div>
    </form> 
<!-- <head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/app_projet/">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Enter Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Employee Id:</label>  
    <div class="col-sm-4">  
      {{ form.article_name }}  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Employee Name:</label>  
    <div class="col-sm-4">  
      {{ form.image }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Employee Email:</label>  
    <div class="col-sm-4">  
      {{ form.stock }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Employee Contact:</label>  
    <div class="col-sm-4">  
      {{ form.price }}  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-primary">Submit</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>   -->
</html>  