<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/app_projet/update/{{article.id}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Modifier l'article</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Article Id:</label>  
    <div class="col-sm-4">  
        <input type="text" name="id" id="id_id" required maxlength="20" value="{{ article.id }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Nom de l'article :</label>  
    <div class="col-sm-4">  
        <input type="text" name="article_name" id="id_article_name" required maxlength="100" value="{{ article_name }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Image de l'article :</label>  
    <div class="col-sm-4">  
        <input type="image" name="image" id="id_image" required maxlength="254" value="{{ article.image }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Stock :</label>  
    <div class="col-sm-4">  
        <input type="text" name="stock" id="id_stock" required maxlength="15" value="{{ article.stock }}" />  
    </div>  
  </div> 
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">Prix :</label>  
    <div class="col-sm-4">  
        <input type="text" name="price" id="id_price" required maxlength="15" value="{{ article.price }}" />  
    </div>  
  </div> 
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Modifier</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  