<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Article SHOW </title>  
     {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<table class="table table-striped table-bordered table-sm">  
    <thead class="thead-dark">  
    <tr>  
        <th>Article Nom</th>  
        <th>Article Image</th>  
        <th>Article Stock</th>  
        <th>Article Prix</th>  
        <th>Actions</th>  
    </tr>  
    </thead>  
    <tbody>  
{% for article in articles %}  
    <tr>  
        <td>{{ article.article_name }}</td>  
        <td>{{ article.image }}</td>  
        <td>{{ article.stock }}</td>  
        <td>{{ article.price }}</td>  
        <td>  
            <a href="/app_projet/edit/{{ article.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a>  
            <a href="/app_projet/delete/{{ article.id }}">Delete</a>  
        </td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="article" class="btn btn-primary">Ajouter un article</a></center>  
</body>  
</html>  